## Pandas ++
[referencia rapida](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_r.html#quick-reference)

In [ ]:
# vamos pensar em manipulação de dados fazendo um paralelo com o dplyr.
# dplyr: 6 verbos principais
# select()    # seleciona colunas do data.frame
# arrange()   # reordena as linhas do data.frame
# filter()    # filtra linhas do data.frame
# mutate()    # cria novas colunas no data.frame (ou atualiza as colunas existentes)
# summarise() + group_by() # sumariza o data.frame
# left_join   # junta dois data.frames

### Exercícios

Os exercícios abaixo consideram a base do IMDB.

In [ ]:
# Objetivo: descobrir qual o filme mais caro, 
# e com melhor nota dos anos 2000

In [1]:
import pandas as pd

# carregando a base
imdb = pd.read_csv("../dados/imdb.csv")

In [3]:
imdb

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
0,tt0023352,Prestige,1931.0,1932-01-22,"Adventure, Drama",71,USA,English,NaN,NaN,NaN,5.7,240,Tay Garnett,"Harry Hervey, Tay Garnett",RKO Pathé Pictures,"Ann Harding, Adolphe Menjou, Melvyn Douglas, I...",A woman travels to a French penal colony in In...,12.0,2.0
1,tt0037946,Nob Hill,1945.0,1945-11-15,"Drama, Musical",95,USA,English,NaN,NaN,NaN,6.3,246,Henry Hathaway,"Wanda Tuchock, Norman Reilly Raine",Twentieth Century Fox,"George Raft, Joan Bennett, Vivian Blaine, Pegg...",The owner of a San Francisco saloon yearns to ...,11.0,2.0
2,tt0216204,The Shade,1999.0,2000-03-01,Drama,83,USA,English,400000.0,NaN,NaN,7.1,102,Raphaël Nadjari,"Fyodor Dostoevsky, Raphaël Nadjari",Filmaker,"Richard Edson, Lorie Marino, Jeff Ware, Barbar...",NaN,1.0,1.0
3,tt0171889,Viewer Discretion Advised,1998.0,2012-05-01,"Comedy, Horror",105,USA,English,NaN,NaN,NaN,3.4,111,"Eddie Beverly Jr., Tommy Blaze","Tommy Blaze, Philip Morton",Troma Entertainment,"Ken Donovan, Philip Morton, Caroline Jett, Tom...",Ted Smith becomes trapped in the TV shows he w...,5.0,3.0
4,tt0092699,Broadcast News,1987.0,1988-04-01,"Comedy, Drama, Romance",133,USA,"English, Spanish, French, German",20000000.0,67331309.0,51249404.0,7.2,26257,James L. Brooks,James L. Brooks,Amercent Films,"William Hurt, Albert Brooks, Holly Hunter, Rob...",Take two rival television reporters: one hands...,142.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28485,tt7975244,Jumanji: The Next Level,2019.0,2019-12-25,"Action, Adventure, Comedy",123,USA,English,125000000.0,796575993.0,316831246.0,6.7,168698,Jake Kasdan,"Jake Kasdan, Jeff Pinkner",Matt Tolmach Productions,"Dwayne Johnson, Kevin Hart, Jack Black, Karen ...","In Jumanji: The Next Level, the gang is back b...",940.0,241.0
28486,tt0051948,Monster on the Campus,1958.0,1958-12-17,"Horror, Sci-Fi",77,USA,English,NaN,NaN,NaN,5.8,1517,Jack Arnold,David Duncan,Universal International Pictures (UI),"Arthur Franz, Joanna Moore, Judson Pratt, Nanc...",The blood of a primitive fish exposed to gamma...,49.0,38.0
28487,tt1369706,The Ward,2010.0,2011-04-01,"Horror, Mystery, Thriller",89,USA,English,10000000.0,5343820.0,NaN,5.6,39789,John Carpenter,"Michael Rasmussen, Shawn Rasmussen",FilmNation Entertainment,"Amber Heard, Mamie Gummer, Danielle Panabaker,...",An institutionalized young woman becomes terro...,190.0,263.0
28488,tt0038549,A Game of Death,1945.0,1946-06-07,Adventure,72,USA,English,NaN,NaN,NaN,5.8,302,Robert Wise,"Richard Connell, Norman Houston",RKO Radio Pictures,"John Loder, Audrey Long, Edgar Barrier, Russel...",A remake of Richard Connell's famous short sto...,11.0,10.0
28489,tt0283026,Swimfan,2002.0,2003-05-30,"Drama, Thriller",85,USA,English,10000000.0,34411240.0,28564995.0,5.1,18771,John Polson,"Charles F. Bohl, Phillip Schneider",Twentieth Century Fox,"Jesse Bradford, Erika Christensen, Shiri Apple...",A high school senior with a promising swimming...,216.0,88.0

In [25]:
imdb_2000=imdb.query("ano >= 2000 & ano <= 2010")

In [30]:
imdb_2000.filter(["titulo", "ano","orcamento","nota_imdb"]).sort_values(["orcamento","nota_imdb"],ascending=False).iloc[0]

titulo       Pirates of the Caribbean: At World's End
ano                                            2007.0
orcamento                                 300000000.0
nota_imdb                                         7.1
Name: 15147, dtype: object

In [31]:
imdb_2000[imdb_2000.orcamento == imdb_2000.orcamento.max()]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
15147,tt0449088,Pirates of the Caribbean: At World's End,2007.0,2007-05-23,"Action, Adventure, Fantasy",169,USA,English,300000000.0,960996492.0,309420425.0,7.1,585229,Gore Verbinski,"Ted Elliott, Terry Rossio",Walt Disney Pictures,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...","Captain Barbossa, Will Turner and Elizabeth Sw...",1296.0,327.0

In [ ]:
# Objetivo: pegar todos os filmes que sejam do genero "Comedy"

In [ ]:
imdb_2000=imdb[imdb.ano == 2000]

In [18]:
imdb[imdb.generos.str.contains("Comedy")]

/tmp/ipykernel_5381/3404167216.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  imdb_2000[imdb.generos.str.contains("Comedy")]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
11,tt0183505,"Me, Myself & Irene",2000.0,2000-09-08,Comedy,116,USA,"English, German",51000000.0,149270999.0,90570999.0,6.6,219069,"Bobby Farrelly, Peter Farrelly","Peter Farrelly, Mike Cerrone",Twentieth Century Fox,"Jim Carrey, Renée Zellweger, Anthony Anderson,...",A nice-guy cop with Dissociative Identity Diso...,502.0,161.0
168,tt0240802,The Photographer,2000.0,2000-04-15,"Comedy, Drama",91,USA,English,500000.0,NaN,NaN,5.1,304,Jeremy Stein,Jeremy Stein,The Photographer Company LLC,"Reg Rogers, Tina Holmes, Anthony Michael Hall,...",A Photographer has a single evening to find te...,15.0,2.0
484,tt0123055,The Elf Who Didn't Believe,2000.0,2000-09-08,"Comedy, Family",90,USA,English,NaN,NaN,NaN,3.4,113,Rodney McDonald,Karen Kelly,Cabin Fever Entertainment,"Sean Donnelly, Margo Harshman, Rich Mann, Dan ...",Young elf Elmer wants to become a real boy. He...,1.0,2.0
520,tt0206420,Woman on Top,2000.0,2001-05-25,"Comedy, Fantasy, Romance",92,USA,"English, Portuguese",8000000.0,10194274.0,5020111.0,5.3,9878,Fina Torres,Vera Blasi,Fox Searchlight Pictures,"Penélope Cruz, Murilo Benício, Harold Perrinea...",Brazilian chef Isabella Oliveira moves to San ...,89.0,74.0
935,tt0240500,Fast Lane to Malibu,2000.0,2000-09-12,"Adventure, Comedy, Drama",86,USA,English,NaN,NaN,NaN,5.1,373,Kelley Cauthen,Leland Zaitz,NaN,"Tracy Ryan, Steve Curtis, Renee Rea, Stephen H...",Two roommates take a roadtrip to Malibu hoping...,9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26468,tt0171356,Gun Shy,2000.0,2000-05-12,"Comedy, Crime, Romance",101,USA,English,14000000.0,3284444.0,1638202.0,5.7,6841,Eric Blakeney,Eric Blakeney,Hollywood Pictures,"Liam Neeson, Oliver Platt, José Zúñiga, Michae...",An undercover DEA agent brings down the Mafia.,94.0,39.0
26671,tt0158622,The Flintstones in Viva Rock Vegas,2000.0,2000-08-25,"Comedy, Family, Romance",90,USA,English,83000000.0,59468275.0,35268275.0,3.6,21224,Brian Levant,"William Hanna, Joseph Barbera",Universal Pictures,"Mark Addy, Stephen Baldwin, Kristen Johnston, ...",In this live-action prequel to The Flintstones...,99.0,62.0
26716,tt0212815,Big Eden,2000.0,2001-04-12,"Comedy, Drama, Romance",118,USA,English,NaN,512451.0,512451.0,7.3,4045,Thomas Bezucha,Thomas Bezucha,Chaiken Films,"Arye Gross, Eric Schweig, Tim DeKay, Louise Fl...","Big Eden is a small, fictional northwestern Mo...",110.0,39.0
26824,tt0213790,The Ladies Man,2000.0,2000-10-13,Comedy,84,USA,English,24000000.0,13743212.0,13616610.0,5.2,12293,Reginald Hudlin,"Tim Meadows, Dennis McNicholas",Broadway Pictures,"Tim Meadows, Karyn Parsons, Billy Dee Williams...",The,86.0,56.0
27761,tt0200530,Chuck & Buck,2000.0,2000-08-04,"Comedy, Drama",96,USA,English,250000.0,1182065.0,1055671.0,6.5,5220,Miguel Arteta,Mike White,Artisan Entertainment,"Mike White, Chris Weitz, Lupe Ontiveros, Beth ...",An oddly naive man-child stalks his childhood ...,139.0,43.0

### Mutate

In [3]:
import pandas as pd

imdb = pd.read_csv("../dados/imdb.csv")
imdb_simples = imdb.filter(["titulo", "ano"])

In [28]:
imdb_simples.assign(
    coluna_nova = imdb_simples.filter(['ano']) < 1945,
    # não é muito recomendado fazer isso ^
    coluna_nova2 = imdb_simples.ano < 1945,
    # esse é o jeito elgal de criar essa coluna ^
    coluna_numero = imdb_simples.ano-1900
)

,titulo,ano,coluna_nova,coluna_nova2,coluna_numero
0,Prestige,1931.0,True,True,31.0
1,Nob Hill,1945.0,False,False,45.0
2,The Shade,1999.0,False,False,99.0
3,Viewer Discretion Advised,1998.0,False,False,98.0
4,Broadcast News,1987.0,False,False,87.0
...,...,...,...,...,...
28485,Jumanji: The Next Level,2019.0,False,False,119.0
28486,Monster on the Campus,1958.0,False,False,58.0
28487,The Ward,2010.0,False,False,110.0
28488,A Game of Death,1945.0,False,False,45.0
28489,Swimfan,2002.0,False,False,102.0

In [32]:
(imdb.assign(
    lucro = lambda x: x.receita-x.orcamento,
    # essa linha é igual a trocar o x. por imdb. e tirar o "lambda x"
    # x. vira imdb., então:  x.receita-x.orcamento vira imdb.receita-imdb.orcamento
    categoria_lucrou = lambda x: x.lucro > 0,
    duracao = imdb.duracao/60
).
 filter(["titulo","ano", "lucro", "duracao", "categoria_lucrou"]))

,titulo,ano,lucro,duracao,categoria_lucrou
0,Prestige,1931.0,NaN,1.183333,False
1,Nob Hill,1945.0,NaN,1.583333,False
2,The Shade,1999.0,NaN,1.383333,False
3,Viewer Discretion Advised,1998.0,NaN,1.750000,False
4,Broadcast News,1987.0,47331309.0,2.216667,True
...,...,...,...,...,...
28485,Jumanji: The Next Level,2019.0,671575993.0,2.050000,True
28486,Monster on the Campus,1958.0,NaN,1.283333,False
28487,The Ward,2010.0,-4656180.0,1.483333,False
28488,A Game of Death,1945.0,NaN,1.200000,False
28489,Swimfan,2002.0,24411240.0,1.416667,True

In [ ]:
#df = pd.DataFrame({'Hello':[1,2,3]})

#def print_e_identidade (x):
#    print(x)
#    return x.hello

#df.assign(ola = print_e_identidade)

In [36]:
imdb2 = imdb
imdb2['lucrou'] = imdb2['receita'] > imdb2['orcamento']
imdb2.filter(["lucrou"])

       lucrou
0       False
1       False
2       False
3       False
4        True
...       ...
28485    True
28486   False
28487   False
28488   False
28489    True

[28490 rows x 1 columns]

In [37]:
imdb2.lucrou

0        False
1        False
2        False
3        False
4         True
         ...
28485     True
28486    False
28487    False
28488    False
28489     True
Name: lucrou, Length: 28490, dtype: bool

In [38]:
print(id(imdb))
print(id(imdb2))

140116576105856
140116576105856

In [39]:
imdb3 = imdb.copy()

In [40]:
print(id(imdb))
print(id(imdb3))

140116576105856
140115750779200

In [12]:
imdb = imdb.drop(["lucrou"], axis = "columns")

In [14]:
imdb2 = imdb.copy()
imdb2['lucrou'] = imdb2['receita'] > imdb2['orcamento']
imdb2.filter(["lucrou"])

       lucrou
0       False
1       False
2       False
3       False
4        True
...       ...
28485    True
28486   False
28487   False
28488   False
28489    True

[28490 rows x 1 columns]

In [41]:
# case when
import numpy as np
lucrou_df = imdb.assign(
    lucro = lambda x: x["receita"] - x['orcamento'],
    lucrou_bastante = lambda x: np.select(
        [x.lucro >  1000000, x.lucro > 0, x.lucro.isnull()], # 1 argumento é uma lista com as condições
        ["Mais de milhão", "Pouco", "Sem info"],  # 2 argumento é uma lista com os rótulos
        "Não lucrou"
    )
).filter(["lucro", "lucrou_bastante"])

In [42]:
lucrou_df.lucrou_bastante.value_counts()

Sem info          23758
Mais de milhão     2403
Não lucrou         2148
Pouco               181
Name: lucrou_bastante, dtype: int64

### Exercícios

In [ ]:
# Obter um dataframe com os filmes que deram prejuizo.

In [52]:
filmes_prejuizo = imdb.assign(
    lucro = lambda x: x.receita-x.orcamento,
).filter(["titulo","ano", "receita", "orcamento","lucro"]).query("lucro <= 0")

In [ ]:
# Obter os filmes que possuem a palavra 'love' no título.

In [60]:
imdb[imdb.titulo.str.contains("love")|imdb.titulo.str.contains("Love")]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,...,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica,lucrou
151,tt5164432,"Love, Simon",2018.0,2018-05-31,"Comedy, Drama, Romance",110,USA,"English, German, French",17000000.0,66316289.0,...,7.6,94565,Greg Berlanti,"Becky Albertalli, Elizabeth Berger",Fox 2000 Pictures,"Nick Robinson, Jennifer Garner, Josh Duhamel, ...",Simon Spier keeps a huge secret from his famil...,539.0,258.0,True
167,tt2106529,Lust for Love,2014.0,2014-02-07,"Comedy, Romance",85,USA,English,NaN,NaN,...,5.7,1425,Anton King,Anton King,AGGK Films,"Fran Kranz, Dichen Lachman, Beau Garrett, Cait...",Astor is dumped by Mila. He bumps into her ex ...,19.0,8.0,False
217,tt0035583,You Were Never Lovelier,1942.0,1948-11-18,"Comedy, Musical, Romance",97,USA,English,NaN,NaN,...,7.3,3245,William A. Seiter,"Michael Fessier, Ernest Pagano",Columbia Pictures,"Fred Astaire, Rita Hayworth, Adolphe Menjou, I...","In Buenos Aires, a man who has decreed that hi...",56.0,12.0,False
228,tt5457078,Love After Love,2017.0,2018-03-30,"Drama, Romance",91,USA,English,NaN,121098.0,...,5.4,850,Russell Harbaugh,"Russell Harbaugh, Eric Mendelsohn",Secret Engine,"Andie MacDowell, Chris O'Dowd, James Adomian, ...","Following the death of their father, two sons ...",27.0,26.0,False
366,tt0030739,She Loved a Fireman,1937.0,1937-12-18,"Action, Drama, Romance",58,USA,English,NaN,NaN,...,5.4,121,John Farrow,"Carlton Sand, Morton Grant",Warner Bros.,"Dick Foran, Ann Sheridan, Robert Armstrong, Ed...","After his political days are over, Red decides...",6.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28199,tt1827578,The End of Love,2012.0,2012-01-21,Drama,89,USA,English,NaN,9342.0,...,5.9,1641,Mark Webber,Mark Webber,Poor Rich Kids,"Isaac Love, Mark Webber, Amanda Seyfried, Jaso...",When the mother of his infant son unexpectedly...,6.0,30.0,False
28240,tt0139499,No Ordinary Love,1994.0,2000-04-05,"Comedy, Romance",104,USA,English,NaN,NaN,...,4.4,303,Doug Witkins,Doug Witkins,Leo Productions,"Fred Blanco, Randy Brown, Angel Ceja, Jesus Co...",Several young adults live in a large house in ...,3.0,5.0,False
28266,tt0063242,Love Camp 7,1969.0,1969-10-04,"Drama, Thriller, War",96,USA,English,NaN,NaN,...,3.8,770,Lee Frost,Bob Cresse,NaN,"Bob Cresse, Maria Lease, Kathy Williams, Bruce...",Two female Army agents go undercover at a Nazi...,18.0,27.0,False
28270,tt2401023,Jack London's Love of Life,2012.0,2012-05-01,"Adventure, Drama, History",87,USA,English,225000.0,NaN,...,7.2,326,Kevin Swigert,"Robert Gregg, Jack London",Love of Life,"Pete Ammel, Phebe Horschel","Jack, an Alaska gold rush era miner, is abando...",9.0,NaN,False
28389,tt0103917,Can It Be Love,1992.0,1992,Comedy,90,USA,English,NaN,NaN,...,5.2,150,Peter Maris,"Bill Milling, Hesh Rephun",NaN,"Charles Klausmeyer, Richard Beaumont, Mary Ann...",Tim and David want to have fun during vacation...,5.0,1.0,False

In [90]:
imdb[imdb.titulo.str.contains("love|Love")]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,...,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica,lucrou
151,tt5164432,"Love, Simon",2018.0,2018-05-31,"Comedy, Drama, Romance",110,USA,"English, German, French",17000000.0,66316289.0,...,7.6,94565,Greg Berlanti,"Becky Albertalli, Elizabeth Berger",Fox 2000 Pictures,"Nick Robinson, Jennifer Garner, Josh Duhamel, ...",Simon Spier keeps a huge secret from his famil...,539.0,258.0,True
167,tt2106529,Lust for Love,2014.0,2014-02-07,"Comedy, Romance",85,USA,English,NaN,NaN,...,5.7,1425,Anton King,Anton King,AGGK Films,"Fran Kranz, Dichen Lachman, Beau Garrett, Cait...",Astor is dumped by Mila. He bumps into her ex ...,19.0,8.0,False
217,tt0035583,You Were Never Lovelier,1942.0,1948-11-18,"Comedy, Musical, Romance",97,USA,English,NaN,NaN,...,7.3,3245,William A. Seiter,"Michael Fessier, Ernest Pagano",Columbia Pictures,"Fred Astaire, Rita Hayworth, Adolphe Menjou, I...","In Buenos Aires, a man who has decreed that hi...",56.0,12.0,False
228,tt5457078,Love After Love,2017.0,2018-03-30,"Drama, Romance",91,USA,English,NaN,121098.0,...,5.4,850,Russell Harbaugh,"Russell Harbaugh, Eric Mendelsohn",Secret Engine,"Andie MacDowell, Chris O'Dowd, James Adomian, ...","Following the death of their father, two sons ...",27.0,26.0,False
366,tt0030739,She Loved a Fireman,1937.0,1937-12-18,"Action, Drama, Romance",58,USA,English,NaN,NaN,...,5.4,121,John Farrow,"Carlton Sand, Morton Grant",Warner Bros.,"Dick Foran, Ann Sheridan, Robert Armstrong, Ed...","After his political days are over, Red decides...",6.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28199,tt1827578,The End of Love,2012.0,2012-01-21,Drama,89,USA,English,NaN,9342.0,...,5.9,1641,Mark Webber,Mark Webber,Poor Rich Kids,"Isaac Love, Mark Webber, Amanda Seyfried, Jaso...",When the mother of his infant son unexpectedly...,6.0,30.0,False
28240,tt0139499,No Ordinary Love,1994.0,2000-04-05,"Comedy, Romance",104,USA,English,NaN,NaN,...,4.4,303,Doug Witkins,Doug Witkins,Leo Productions,"Fred Blanco, Randy Brown, Angel Ceja, Jesus Co...",Several young adults live in a large house in ...,3.0,5.0,False
28266,tt0063242,Love Camp 7,1969.0,1969-10-04,"Drama, Thriller, War",96,USA,English,NaN,NaN,...,3.8,770,Lee Frost,Bob Cresse,NaN,"Bob Cresse, Maria Lease, Kathy Williams, Bruce...",Two female Army agents go undercover at a Nazi...,18.0,27.0,False
28270,tt2401023,Jack London's Love of Life,2012.0,2012-05-01,"Adventure, Drama, History",87,USA,English,225000.0,NaN,...,7.2,326,Kevin Swigert,"Robert Gregg, Jack London",Love of Life,"Pete Ammel, Phebe Horschel","Jack, an Alaska gold rush era miner, is abando...",9.0,NaN,False
28389,tt0103917,Can It Be Love,1992.0,1992,Comedy,90,USA,English,NaN,NaN,...,5.2,150,Peter Maris,"Bill Milling, Hesh Rephun",NaN,"Charles Klausmeyer, Richard Beaumont, Mary Ann...",Tim and David want to have fun during vacation...,5.0,1.0,False

In [8]:
imdb.assign(
    tem_love = lambda x: x.titulo.str.contains("\\b[lL]ove\\b")
).query("tem_love")

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,...,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica,tem_love
151,tt5164432,"Love, Simon",2018.0,2018-05-31,"Comedy, Drama, Romance",110,USA,"English, German, French",17000000.0,66316289.0,...,7.6,94565,Greg Berlanti,"Becky Albertalli, Elizabeth Berger",Fox 2000 Pictures,"Nick Robinson, Jennifer Garner, Josh Duhamel, ...",Simon Spier keeps a huge secret from his famil...,539.0,258.0,True
167,tt2106529,Lust for Love,2014.0,2014-02-07,"Comedy, Romance",85,USA,English,NaN,NaN,...,5.7,1425,Anton King,Anton King,AGGK Films,"Fran Kranz, Dichen Lachman, Beau Garrett, Cait...",Astor is dumped by Mila. He bumps into her ex ...,19.0,8.0,True
228,tt5457078,Love After Love,2017.0,2018-03-30,"Drama, Romance",91,USA,English,NaN,121098.0,...,5.4,850,Russell Harbaugh,"Russell Harbaugh, Eric Mendelsohn",Secret Engine,"Andie MacDowell, Chris O'Dowd, James Adomian, ...","Following the death of their father, two sons ...",27.0,26.0,True
461,tt0084293,Making Love,1982.0,1982-03-05,Drama,113,USA,English,NaN,11897978.0,...,6.8,2381,Arthur Hiller,"Barry Sandler, A. Scott Berg",IndieProd Company Productions,"Michael Ontkean, Kate Jackson, Harry Hamlin, W...",A successful young L.A. doctor and his equally...,65.0,15.0,True
489,tt0030256,I Met My Love Again,1938.0,1938-01-14,Romance,77,USA,English,428800.0,NaN,...,5.6,243,"Joshua Logan, Arthur Ripley","Allene Corliss, David Hertz",Walter Wanger Productions,"Joan Bennett, Henry Fonda, Louise Platt, Alan ...",College sweethearts Julie and Ives have planne...,6.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28199,tt1827578,The End of Love,2012.0,2012-01-21,Drama,89,USA,English,NaN,9342.0,...,5.9,1641,Mark Webber,Mark Webber,Poor Rich Kids,"Isaac Love, Mark Webber, Amanda Seyfried, Jaso...",When the mother of his infant son unexpectedly...,6.0,30.0,True
28240,tt0139499,No Ordinary Love,1994.0,2000-04-05,"Comedy, Romance",104,USA,English,NaN,NaN,...,4.4,303,Doug Witkins,Doug Witkins,Leo Productions,"Fred Blanco, Randy Brown, Angel Ceja, Jesus Co...",Several young adults live in a large house in ...,3.0,5.0,True
28266,tt0063242,Love Camp 7,1969.0,1969-10-04,"Drama, Thriller, War",96,USA,English,NaN,NaN,...,3.8,770,Lee Frost,Bob Cresse,NaN,"Bob Cresse, Maria Lease, Kathy Williams, Bruce...",Two female Army agents go undercover at a Nazi...,18.0,27.0,True
28270,tt2401023,Jack London's Love of Life,2012.0,2012-05-01,"Adventure, Drama, History",87,USA,English,225000.0,NaN,...,7.2,326,Kevin Swigert,"Robert Gregg, Jack London",Love of Life,"Pete Ammel, Phebe Horschel","Jack, an Alaska gold rush era miner, is abando...",9.0,NaN,True
28389,tt0103917,Can It Be Love,1992.0,1992,Comedy,90,USA,English,NaN,NaN,...,5.2,150,Peter Maris,"Bill Milling, Hesh Rephun",NaN,"Charles Klausmeyer, Richard Beaumont, Mary Ann...",Tim and David want to have fun during vacation...,5.0,1.0,True

In [ ]:
# Obter os filmes com gênero 'Drama' e ordernar pela quantidade de
# vezes que a palavra 'woman' (mulher) aparece na descrição.

In [9]:
imdb4=imdb[imdb.generos.str.contains("Drama")]

### Summarise

In [19]:
imdb.filter(["duracao", "orcamento"]).agg(["mean", "sum", "count"])

            duracao     orcamento
mean   9.305483e+01  1.213561e+07
sum    2.651132e+06  1.270598e+11
count  2.849000e+04  1.047000e+04

In [20]:
imdb.agg({
  "duracao": ["mean"],
  "orcamento": ["mean", "count"]
})

         duracao     orcamento
mean   93.054826  1.213561e+07
count        NaN  1.047000e+04

In [98]:
imdb.groupby(["ano"], as_index = False).agg(
  duracao_media = ("duracao", "mean"),
  desv_pad_duracao = ("duracao", "std"),
  receita_max = ("receita", max)
)

        ano  duracao_media  desv_pad_duracao   receita_max
0    1894.0      45.000000               NaN           NaN
1    1912.0      80.000000         28.284271           NaN
2    1913.0      88.000000               NaN           NaN
3    1914.0      73.312500         35.254728           NaN
4    1915.0      74.066667         34.900812           NaN
..      ...            ...               ...           ...
105  2016.0      93.359033         13.625927  1.153332e+09
106  2017.0      92.982320         13.029991  1.332540e+09
107  2018.0      93.658014         13.717957  2.048360e+09
108  2019.0      95.173104         18.143177  2.797801e+09
109  2020.0      94.615942         14.667130  2.018585e+08

[110 rows x 4 columns]

In [96]:
imdb.groupby('ano', as_index=False).apply(lambda x: pd.DataFrame({
    "duracao_media": [x.duracao.mean()],
    "desv_pad_duracao": [x.duracao.std()],
    "receita_max": [x.receita.max()],
    "lucro_medio": [(x.receita - x.orcamento).mean()]
}))

       duracao_media  desv_pad_duracao   receita_max   lucro_medio
0   0      45.000000               NaN           NaN           NaN
1   0      80.000000         28.284271           NaN           NaN
2   0      88.000000               NaN           NaN           NaN
3   0      73.312500         35.254728           NaN           NaN
4   0      74.066667         34.900812           NaN           NaN
...              ...               ...           ...           ...
105 0      93.359033         13.625927  1.153332e+09  7.237195e+07
106 0      92.982320         13.029991  1.332540e+09  9.284472e+07
107 0      93.658014         13.717957  2.048360e+09  1.122318e+08
108 0      95.173104         18.143177  2.797801e+09  1.275660e+08
109 0      94.615942         14.667130  2.018585e+08 -4.284901e+06

[110 rows x 4 columns]

### Exercícios

In [ ]:
# Obtenha os 10 anos com as as maiores notas médias do IMDB.
# Coloque em um data frame ordeno pela média das notas.

In [ ]:
# Obtenha a proporção de filmes que deram prejuizo por ano.

### Left join

In [2]:
lucro_direcao = (imdb.
    assign(
        lucro = lambda x: x.receita - x.orcamento
    ).
    groupby(["direcao"], as_index = False).
    agg(
        lucro_medio = ('lucro', 'mean')
    )
)
lucro_direcao

                                  direcao  lucro_medio
0                        'Evil' Ted Smith          NaN
1                 'Philthy' Phil Phillips          NaN
2                            A. Dean Bell          NaN
3                    A. Edward Sutherland          NaN
4      A. Edward Sutherland, John Rawlins          NaN
...                                   ...          ...
12453                       Zoran Lisinac    -245414.0
12454                                mink          NaN
12455                    Édouard Molinaro          NaN
12456                         Éric Rochat          NaN
12457                       Özgür Dogruöz          NaN

[12458 rows x 2 columns]

In [ ]:
# não tem como
#def cria_lucro(x):
#    return x.receita -x.orcamento

In [3]:
# tem várias formas de fazer. Uma delas é com merge, parecido com o join do dplyr.
imdb_com_lucro = pd.merge(imdb, lucro_direcao, how = "left", on = ["direcao"]) # se variáveis diferentes, use o left_on e right_on

In [4]:
imdb_com_lucro

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,...,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica,lucro_medio
0,tt0023352,Prestige,1931.0,1932-01-22,"Adventure, Drama",71,USA,English,NaN,NaN,...,5.7,240,Tay Garnett,"Harry Hervey, Tay Garnett",RKO Pathé Pictures,"Ann Harding, Adolphe Menjou, Melvyn Douglas, I...",A woman travels to a French penal colony in In...,12.0,2.0,NaN
1,tt0037946,Nob Hill,1945.0,1945-11-15,"Drama, Musical",95,USA,English,NaN,NaN,...,6.3,246,Henry Hathaway,"Wanda Tuchock, Norman Reilly Raine",Twentieth Century Fox,"George Raft, Joan Bennett, Vivian Blaine, Pegg...",The owner of a San Francisco saloon yearns to ...,11.0,2.0,-2.966627e+06
2,tt0216204,The Shade,1999.0,2000-03-01,Drama,83,USA,English,400000.0,NaN,...,7.1,102,Raphaël Nadjari,"Fyodor Dostoevsky, Raphaël Nadjari",Filmaker,"Richard Edson, Lorie Marino, Jeff Ware, Barbar...",NaN,1.0,1.0,NaN
3,tt0171889,Viewer Discretion Advised,1998.0,2012-05-01,"Comedy, Horror",105,USA,English,NaN,NaN,...,3.4,111,"Eddie Beverly Jr., Tommy Blaze","Tommy Blaze, Philip Morton",Troma Entertainment,"Ken Donovan, Philip Morton, Caroline Jett, Tom...",Ted Smith becomes trapped in the TV shows he w...,5.0,3.0,NaN
4,tt0092699,Broadcast News,1987.0,1988-04-01,"Comedy, Drama, Romance",133,USA,"English, Spanish, French, German",20000000.0,67331309.0,...,7.2,26257,James L. Brooks,James L. Brooks,Amercent Films,"William Hurt, Albert Brooks, Holly Hunter, Rob...",Take two rival television reporters: one hands...,142.0,62.0,4.774942e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28485,tt7975244,Jumanji: The Next Level,2019.0,2019-12-25,"Action, Adventure, Comedy",123,USA,English,125000000.0,796575993.0,...,6.7,168698,Jake Kasdan,"Jake Kasdan, Jeff Pinkner",Matt Tolmach Productions,"Dwayne Johnson, Kevin Hart, Jack Black, Karen ...","In Jumanji: The Next Level, the gang is back b...",940.0,241.0,1.603053e+08
28486,tt0051948,Monster on the Campus,1958.0,1958-12-17,"Horror, Sci-Fi",77,USA,English,NaN,NaN,...,5.8,1517,Jack Arnold,David Duncan,Universal International Pictures (UI),"Arthur Franz, Joanna Moore, Judson Pratt, Nanc...",The blood of a primitive fish exposed to gamma...,49.0,38.0,-7.474200e+05
28487,tt1369706,The Ward,2010.0,2011-04-01,"Horror, Mystery, Thriller",89,USA,English,10000000.0,5343820.0,...,5.6,39789,John Carpenter,"Michael Rasmussen, Shawn Rasmussen",FilmNation Entertainment,"Amber Heard, Mamie Gummer, Danielle Panabaker,...",An institutionalized young woman becomes terro...,190.0,263.0,4.323364e+06
28488,tt0038549,A Game of Death,1945.0,1946-06-07,Adventure,72,USA,English,NaN,NaN,...,5.8,302,Robert Wise,"Richard Connell, Norman Houston",RKO Radio Pictures,"John Loder, Audrey Long, Edgar Barrier, Russel...",A remake of Richard Connell's famous short sto...,11.0,10.0,9.940914e+07
28489,tt0283026,Swimfan,2002.0,2003-05-30,"Drama, Thriller",85,USA,English,10000000.0,34411240.0,...,5.1,18771,John Polson,"Charles F. Bohl, Phillip Schneider",Twentieth Century Fox,"Jesse Bradford, Erika Christensen, Shiri Apple...",A high school senior with a promising swimming...,216.0,88.0,2.441124e+07

In [60]:
(imdb_com_lucro.
    assign(lucro = lambda x: x.receita - x.orcamento).
    filter(["titulo", "lucro", "lucro_medio"])
)

                          titulo        lucro   lucro_medio
0                       Prestige          NaN           NaN
1                       Nob Hill          NaN -2.966627e+06
2                      The Shade          NaN           NaN
3      Viewer Discretion Advised          NaN           NaN
4                 Broadcast News   47331309.0  4.774942e+07
...                          ...          ...           ...
28485    Jumanji: The Next Level  671575993.0  1.603053e+08
28486      Monster on the Campus          NaN -7.474200e+05
28487                   The Ward   -4656180.0  4.323364e+06
28488            A Game of Death          NaN  9.940914e+07
28489                    Swimfan   24411240.0  2.441124e+07

[28490 rows x 3 columns]